*{
    margin: 0%;
    padding: 0%;
    background-color: rgb(139, 126, 126);
}

.container h1{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#numOfwords{

    background-color: white;
    padding: 20px;
    width: 50%;
    margin-top: 20px ;
    border: 1px solid black;
    outline: none;
    font: 100 1.3rem georgia;
}
button{
    background-color: wheat;
    padding: 20px;
    font: 100 1.3rem sans-serif;
    transition: background-color 0.5s;
}
button:hover{
    background-color: aqua;
}
.paras{
    background-color: rgb(172, 72, 72);
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    word-spacing: 5px;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

 